.about-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .sizeImage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  .sizeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 73%;
  }
  
  .description-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    flex-grow: 1; 
    gap: 15px;
  }
  
  .description-item1 {
    width: 60%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px; /* Ajoute une marge entre les items */
    
  }
  
  .backRed2 {
    background-color: #FF6060;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0; /* Coins arrondis en haut seulement */
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0; 
  }
  
  .description-text-container {
    background-color: #f5f5f5; /* Fond gris */
    padding: 10px;
    border-radius: 0 0 5px 5px; /* Coins arrondis en bas seulement */
    border-top: 1px solid #ccc; /* Petite bordure pour séparation */
    display: flex;
  }
  
  .description-text {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    margin: 0; /* Supprime les marges internes */
  }
  
  .icon {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  