/* Styles spécifiques à la page About */
.about-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que la page prend au moins la hauteur de l'écran */
  }
  
  .sizeImage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajuste selon les besoins */
  }
  
  .sizeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 73%;
  }
  
  .description-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    flex-grow: 1; /* Permet à la section des descriptions de prendre tout l'espace restant */
  }
  
  .description-item1 {
    width: 50%;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .backRed2 {
    background-color: #FF6060;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description-text {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .icon {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  