body{
  margin:0px;
  padding:0px;
  font-family: "Montserrat", sans-serif;
}


.header{
  margin: auto;
  width: 74%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-weight: 500;
  padding: 30px 0px 30px 0px;
}

.nav-links {
  display: flex; /* Utilisation de flexbox pour aligner Accueil et A propos */
  gap: 3rem; /* Espacement horizontal entre les liens */
}

.nav-links div {
  cursor: pointer; /* Ajout d'un curseur pour l'interactivité */
}

.banner {
  width: 70%;
  margin: auto;
  border-radius: 2rem;
  height: 223px; /* Hauteur de la bannière */
  background-image: url('/IMG.png');  /* Utilisez le chemin correct pour l'image */
  background-size: cover;  /* L'image couvre toute la div */
  background-position: center;  /* Centrez l'image */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
  position: relative;  /* Nécessaire pour positionner l'overlay par-dessus l'image */
  box-shadow: 0 10px 6px -4px rgba(0, 0, 0, 0.2), 0 5px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

}

.overlay {
  position: absolute;  /* Positionne l'overlay par-dessus l'image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);  /* Couleur sombre avec opacité */
  z-index: 1;  /* Assurez-vous que l'overlay est au-dessus de l'image */
  border-radius: 2rem;
}

.banner h1 {
  color: white;  /* Couleur du texte */
  font-size: 2rem;
  z-index: 2;  /* Le texte doit être au-dessus de l'overlay */
  position: relative;  /* Assurez-vous que le texte est au-dessus de l'overlay */
}


/*Appartement*/

/* Appartement */

.grid {
  background-color: #F6F6F6;
  padding: 30px 30px 30px 30px;
  width: 70%; /* Définit une largeur fixe de 70% */
  margin: 0 auto; /* Centre horizontalement la grille */
  display: flex;
  justify-content: center; /* Centre la grille horizontalement */
  border-radius: 2rem;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes de tailles égales */
  grid-gap: 20px; /* Espace de 20px entre les éléments */
  width: 100%; /* La grille occupe toute la largeur de son conteneur */
}

.redGrid {
  background-color: #FF6060;
  height: 340px; /* Hauteur fixe */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 8px; /* Optionnel : arrondi des bords */
}

/*footer*/

.backgroundBlack{
  background-color: black;
  padding: 60px 0px 60px 0px;
}
