.colorRed {
    color: #FF6060;
    display: flex

}

.backRed {
    background-color: #FF6060;
    padding: 5px 10px; /* Ajuste le padding interne */
    border-radius: 10px;
    color: white;
    text-align: center;
    flex-grow: 1; /* Permet à chaque élément de prendre la même largeur */
}


.flexRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -10px;
}

.flexRow2 {
    display: flex;
    flex-direction: row;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
}

.main-container {
    margin: auto;
    width: 74%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.apartment-description-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: left;
}

.location {
    text-align: left;
    margin-top: -20px;
}

.image-container {
    width: 100%; 
    height: 415px; /* Définit la hauteur spécifique */
    overflow: hidden; /* Empêche l'image de dépasser */
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image remplisse l'espace sans déformation */
    border-radius: 20px;
  }
  

.author-name {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 10px;
    color: #FF6060;
    margin-right: 10px;
    font-weight: 500;
}

.iconeBoule {
    background-color: #C4C4C4;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 10px auto;
}

.starsWidht {
    font-size: 20px;
    height: 36px;
}

.sizeStars {
    color: #FF6060;
    margin-top: 15px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.displayRow2 {
    display: flex;
    justify-content: end;
}

.margeDumas {
    margin-top: -10px;
    margin-left: 20px;
}


.apartment-description-visible {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0; 
    margin-bottom: 0; 
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
}


.apartment-description-item.open .apartment-description-visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    width: 100%;
}


.apartment-backRed2 {
    background-color: #FF6060;
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease;
}


.apartment-icon {
    font-weight: bold;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.apartment-icon.rotate {
    transform: rotate(180deg);
}

/* Description */
.apartment-description-item {
    width: 45%;
    transition: all 0.3s ease;
    margin-top: -10px; 
}

.apartment-description-item p {
    margin-top: 10px;
}

.apartment-description-container p:last-child {
    margin: 0;
    width: 100%;
}


.carousel {
    width: 100%;                /* Prend toute la largeur du carrousel */
    height: 415px;              /* Fixe la hauteur à 415px */
    border-radius: 20px;        /* Bord arrondi pour le carrousel */
    overflow: hidden; 
    object-fit: contain;          /* Cache les parties qui dépassent */
  }
  
  /* Carrousel container */
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Limiter la largeur du carrousel */
    margin: auto;
  }
  
  /* Images du carrousel */
  .carousel .carousel-slider img {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  /* Flèches personnalisées */
.carousel-arrow-left,
.carousel-arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 130px; /* Taille des flèches */
  font-weight: 300;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10; /* S'assurer que les flèches sont au-dessus du carrousel */
  outline: none; /* Supprime le contour bleu du focus */
}

/* Désactive le contour sur le focus pour les icônes de Material */
.material-icons:focus {
  outline: none; /* Assure qu'il n'y a pas de contour sur le focus */
}

.carousel-arrow-left {
  left: -15px; /* Position de la flèche gauche */
}

.carousel-arrow-right {
  right: -15px; /* Position de la flèche droite */
}

/* Indicateur personnalisé */
.carousel-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 10;
}
