.colorRed {
    color: #FF6060;
    display: flex;
    text-align: left;
    margin-top: -1px;
    font-size: 30px;
    font-weight: 600;
}

.backRed {
    background-color: #FF6060;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    flex-grow: 1;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -10px;
    width: 100%;
}

.flexRow2 {
    display: flex;
    flex-direction: row;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
}

.main-container {
    margin: auto;
    width: 74%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.apartment-description-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: left;
}

.location {
    text-align: left;
    margin-top: -20px;
}

.image-container {
    width: 100%; 
    height: 400px; 
    position: relative;
    overflow: hidden; 
}

.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px; 
}


.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}

.author-name {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 10px;
    color: #FF6060;
    margin-right: 10px;
    font-weight: 500;
}



.host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
  

.starsWidht {
    font-size: 20px;
    height: 36px;
}

.sizeStars {
    color: #FF6060;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.displayRow2 {
    display: flex;
    justify-content: end;
    margin-top: -15px;
}

.margeDumas {
    margin-top: -10px;
    margin-left: 20px;
}

.apartment-description-visible {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
}

.apartment-description-item.open .apartment-description-visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
  }
  
.apartment-backRed2 {
    background-color: #FF6060;
    padding: 10px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease;
}

.apartment-icon {
    font-weight: bold;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.apartment-icon.rotate {
    transform: rotate(180deg);
}

/* Description */
.apartment-description-item {
    width: 45%;
    transition: all 0.3s ease;
    margin-top: -10px;
}

.apartment-description-item p {
    margin-top: 0px;
}

.apartment-description-container p:last-child {
    margin: 0;
    width: 100%;
}



.carousel-container {
    position: relative;
    width: 100%; 
    max-width: 1200px; 
    height: 415px; 
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
  }

  .carousel .carousel-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100ù;
  }

  .carousel .carousel-slider .image-container {
    width: 100%;
    height: 100%; 
    position: relative;
}

  
  .carousel .carousel-slider .image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px;
}





/* Flèches */
.carousel-arrow-left,
.carousel-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 130px;
    font-weight: 300;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    outline: none;
}

.material-icons:focus {
    outline: none;
}

.carousel-arrow-left {
    left: -15px;
}

.carousel-arrow-right {
    right: -15px;
}

/* Indicateur */
.carousel-indicator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 10;
}


@media screen and (max-width: 768px) {
    .container1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1px;
        width: 100%;
        
    }

    .flexRow1{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    }

    .displayRow2 {
        display: flex;
        justify-content: end;
        margin-top: -15px;
        width: 100%;
        margin-bottom: 20px;
    }

    .apartment-description-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 0px;
        width: 100%;
        text-align: left;
    }

    .apartment-description-item {
        width: 100%;
        transition: all 0.3s ease;
        margin-top: -10px;
    }

    .starsWidht {
        font-size: 16px;
        height: 36px;
    }

    .sizeStars {
        color: #FF6060;
        margin-top: 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .host-picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 5px;
    }

    .author-name {
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.2;
        margin-left: 10px;
        color: #FF6060;
        margin-right: 10px;
        font-weight: 500;
    }

    .main-container {
        margin: auto;
        width: 87%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: -15px;
    }
    
    .carousel-indicator {
        display: none;
    }

    .flexRow {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: -10px;
        width: 100%;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
  }



  @media screen and (max-width: 480px) {
    .backRed {
        background-color: #FF6060;
        padding: 5px 10px;
        border-radius: 10px;
        color: white;
        text-align: center; 
        flex-grow: 1;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}

@media screen and (max-width: 832px) {
    .container1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
        width: 100%;
    }

    .backRed {
        background-color: #FF6060;
        padding: 5px 10px;
        border-radius: 10px;
        color: white;
        text-align: center;
        flex-grow: 1;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
